@font-face {
	font-family: 'comcamp';
	src:url('../fonts/comcamp/comcamp.eot?1fmisg');
	src:url('../fonts/comcamp/comcamp.eot?#iefix1fmisg') format('embedded-opentype'),
		url('../fonts/comcamp/comcamp.woff?1fmisg') format('woff'),
		url('../fonts/comcamp/comcamp.ttf?1fmisg') format('truetype'),
		url('../fonts/comcamp/comcamp.svg?1fmisg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="comcamp-icon-"], [class*=" comcamp-icon-"] {
	font-family: 'comcamp';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.comcamp-icon-ComcampFullLogo:before {
	content: "\e127";
}

.comcamp-icon-ComcampMiniLogo:before {
	content: "\e627";
}

.comcamp-icon-AOT .path1:before {
	content: "\e628";
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path2:before {
	content: "\e629";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path3:before {
	content: "\e62a";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path4:before {
	content: "\e62b";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path5:before {
	content: "\e62c";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path6:before {
	content: "\e62d";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path7:before {
	content: "\e62e";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path8:before {
	content: "\e62f";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path9:before {
	content: "\e630";
	margin-left: -2.3515625em;
	color: rgb(1, 191, 227);
}
.comcamp-icon-AOT .path10:before {
	content: "\e631";
	margin-left: -2.3515625em;
	color: rgb(11, 73, 156);
}
.comcamp-icon-AOT .path11:before {
	content: "\e632";
	margin-left: -2.3515625em;
	color: rgb(11, 73, 156);
}
.comcamp-icon-AOT .path12:before {
	content: "\e633";
	margin-left: -2.3515625em;
	color: rgb(11, 73, 156);
}
.comcamp-icon-AOT .path13:before {
	content: "\e634";
	margin-left: -2.3515625em;
	color: rgb(11, 73, 156);
}
.comcamp-icon-AOT .path14:before {
	content: "\e635";
	margin-left: -2.3515625em;
	color: rgb(11, 73, 156);
}

.comcamp-icon-BTS .path1:before {
	content: "\e636";
	color: rgb(0, 0, 0);
}
.comcamp-icon-BTS .path2:before {
	content: "\e637";
	margin-left: -0.8642578125em;
	color: rgb(0, 0, 0);
}
.comcamp-icon-BTS .path3:before {
	content: "\e638";
	margin-left: -0.8642578125em;
	color: rgb(0, 0, 0);
}
.comcamp-icon-BTS .path4:before {
	content: "\e639";
	margin-left: -0.8642578125em;
	color: rgb(36, 69, 131);
}
.comcamp-icon-BTS .path5:before {
	content: "\e63a";
	margin-left: -0.8642578125em;
	color: rgb(36, 69, 131);
}
.comcamp-icon-BTS .path6:before {
	content: "\e63b";
	margin-left: -0.8642578125em;
	color: rgb(36, 69, 131);
}
.comcamp-icon-BTS .path7:before {
	content: "\e63c";
	margin-left: -0.8642578125em;
	color: rgb(36, 69, 131);
}
.comcamp-icon-BTS .path8:before {
	content: "\e63d";
	margin-left: -0.8642578125em;
	color: rgb(219, 2, 38);
}
.comcamp-icon-BTS .path9:before {
	content: "\e63e";
	margin-left: -0.8642578125em;
	color: rgb(219, 2, 38);
}
.comcamp-icon-BTS .path10:before {
	content: "\e63f";
	margin-left: -0.8642578125em;
	color: rgb(219, 2, 38);
}

.comcamp-icon-cpe:before {
	content: "\e600";
}

.comcamp-icon-archive:before {
	content: "\e622";
}

.comcamp-icon-kmutt:before {
	content: "\e640";
}

.comcamp-icon-KMUTTFormal:before {
	content: "\e641";
}
